li:hover {
background-color: grey;
color:white;
/*width:40%;*/
}

li{
  font-size:18px;
}

#poster {
  display: inline-block;
  width:50%;
  /*border:3px solid red;*/
  float: right;
}

#results {
  display: : inline-block;
  width:35%;
  float: left;
  margin-right:20px;
}

#movieApp {
  margin:40px ;
  background-color: lightblue;
}
